apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    jsonData:
      timeInterval: "5s"
      
  - name: Elasticsearch
    type: elasticsearch
    access: proxy
    url: http://elasticsearch:9200
    database: "user-service-logs-*"
    editable: true
    jsonData:
      esVersion: "8.0.0"
      timeField: "@timestamp"
      logMessageField: "message"
      logLevelField: "level"
